*-debug.log
*-error.log
/.nyc_output
/dist
/package-lock.json
/tmp
node_modules

lib-cov
*.seed
*.log
*.csv
*.dat
*.out
*.pid
*.gz

pids
logs
results
build
components

npm-debug.log

coverage

test/auth/*
!test/auth/.gitkeep
.DS_Store
